@model ProjectViewModel

<p>
    @using (Html.BeginForm("CreateTaskType", "Task"))
    {
        @Html.Hidden("ProjectId", Model.Id)
        @Html.DropDownList("ConcreteModelType", ViewBag.TaskTypes as SelectList)
        <input type="submit" value="Create Task" />
        
    }
</p>
<table>
    <tr>
        <th>Title
        </th>
        <th>Users
        </th>
        <th>Estimated Hours
        </th>
        <th>Type
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Tasks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Task", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Task",  new { id = item.Id }, null)           
            </td>
        </tr>
    }

</table>
