@model ProjectViewModel

<p>
    @using (Html.BeginForm("CreateTaskType", "Task", FormMethod.Post, new{ id="createTaskForm"}))
    {
        @Html.Hidden("Project.Id", Model.Id, new { id = "createTaskProjectId" })
        @Html.DropDownList("ConcreteModelType", ViewBag.TaskTypes as SelectList, new { id = "taskModelType" })
        <input type="submit" value="Create Task" id="createTask" />        
    }
</p>
<h2>Tasks</h2>
<table id="projectTasks">
    <thead>
        <tr>
            <th>Title
            </th>
            <th>Users
            </th>
            <th>Estimated Hours
            </th>
            <th>Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserNames)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskType)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Task", new { id = item.Id }, new {@class = "editTask", data_id = item.Id}) |
                @Html.ActionLink("Details", "Details", "Task", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
