@model TaskViewModel

@{
    ViewBag.Title = "Details";
}
@Html.ValidationSummary(false)
@Html.Partial("_ProjectLink")
<br />
<h2>Details</h2>

<fieldset>
    <legend>Task</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Project.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Title)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Project.CustomerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.CustomerName)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Project.Manager)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Manager)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.EstimatedHours)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstimatedHours)
    </div>
    @Html.DisplayForModel()

    @Html.ActionLink("Complete Task", "CompleteTask", new { id = Model.Id })

    @using(Html.BeginForm("ChargeHours", "Task"))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.TextBox("hours")
        <p>
            <input type="submit" value="Charge Hours" />
        </p>
    }
</fieldset>

@Html.Partial("_Charges", Model.Charges)
<p>
    @Html.ActionLink("Assign New User", "AddUser", new { id = Model.Id })
</p>
@Html.Partial("_AssignedToUsers")
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
