@model Statuos.Web.Models.TaskViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Task</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Project.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Title)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Project.CustomerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.CustomerName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Project.Manager)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Manager)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstimatedHours)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstimatedHours)
    </div>
    @Html.DisplayForModel()
</fieldset>

@Html.Partial("_AssignedToUsers")
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
