@model IEnumerable<TaskViewModel>

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script>
        $("#tasks").dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false
        });

    </script>



}
<h2>My Tasks</h2>

<table id="tasks">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskType)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
