@model IEnumerable<Statuos.Web.Models.ProjectViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @using (Html.BeginForm("CreateProjectType", "Project"))
    {
        @Html.DropDownList("ConcreteModelType", ViewBag.ProjectTypes as SelectList, string.Empty)
        <input type="submit" value="Save" />
        
    }
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConcreteModelType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcreteModelType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
